In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("../data/cleaned/cleaned_dataset.csv")
df.head()

,Country Code,City,Longitude,Latitude,Cuisines,Average Cost for two,Has Table booking,Has Online delivery,Price range,Aggregate rating,Votes,Primary Cuisine,City_Freq
0,6,Makati City,121.027535,14.565443,"French, Japanese, Desserts",1100,1,0,3,4.8,314,French,2
1,6,Makati City,121.014101,14.553708,Japanese,1200,1,0,3,4.5,591,Japanese,2
2,6,Mandaluyong City,121.056831,14.581404,"Seafood, Asian, Filipino, Indian",4000,1,0,4,4.4,270,Seafood,4
3,6,Mandaluyong City,121.056475,14.585318,"Japanese, Sushi",1500,0,0,4,4.9,365,Japanese,4
4,6,Mandaluyong City,121.057508,14.584450,"Japanese, Korean",1500,1,0,4,4.8,229,Japanese,4

In [2]:
# Lets drop the restaurants which have no rating(0.0)
df = df[df["Aggregate rating"] != 0.0].reset_index(drop=True)
df.shape

(7403, 13)

In [3]:
# Encode the Country Code
df["Country Code"] =  df["Country Code"].astype("category").cat.codes

In [4]:
#Handling primary Cuisine, Replace Cuisines that occure less than 10 times with other.
cuisine_counts = df["Primary Cuisine"].value_counts()
rare_cuisines =  cuisine_counts[cuisine_counts<10].index

df["Cuisine_Grouped"] = df["Primary Cuisine"].replace(rare_cuisines, "Other")

In [5]:
# Frequencey Encoding
df = pd.get_dummies(df, columns=["Cuisine_Grouped"], drop_first=True)

In [6]:
# Now we have to drop columns that are less relvant
df_model = df.drop([
    "City",
    "Address",
    "Locality",
    "Locality Verbose",
    "Latitude",
    "Longitude",
    "Restaurant ID",
    "Restaurant Name",
    "Cuisines",
    "Primary Cuisine",
], axis=1, errors='ignore')

In [7]:
# check
df_model.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7403 entries, 0 to 7402
Data columns (total 53 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country Code                   7403 non-null   int8
 1   Average Cost for two           7403 non-null   int64
 2   Has Table booking              7403 non-null   int64
 3   Has Online delivery            7403 non-null   int64
 4   Price range                    7403 non-null   int64
 5   Aggregate rating               7403 non-null   float64
 6   Votes                          7403 non-null   int64
 7   City_Freq                      7403 non-null   int64
 8   Cuisine_Grouped_Asian          7403 non-null   bool
 9   Cuisine_Grouped_BBQ            7403 non-null   bool
 10  Cuisine_Grouped_Bakery         7403 non-null   bool
 11  Cuisine_Grouped_Bengali        7403 non-null   bool
 12  Cuisine_Grouped_Beverages      7403 non-null   bool
 13  Cuisine_Grouped_Biryani        7403 non-null   bool
 14  Cuisine_Grouped_Brazilian      7403 non-null   bool
 15  Cuisine_Grouped_Breakfast      7403 non-null   bool
 16  Cuisine_Grouped_British        7403 non-null   bool
 17  Cuisine_Grouped_Burger         7403 non-null   bool
 18  Cuisine_Grouped_Cafe           7403 non-null   bool
 19  Cuisine_Grouped_Chinese        7403 non-null   bool
 20  Cuisine_Grouped_Continental    7403 non-null   bool
 21  Cuisine_Grouped_Desserts       7403 non-null   bool
 22  Cuisine_Grouped_European       7403 non-null   bool
 23  Cuisine_Grouped_Fast Food      7403 non-null   bool
 24  Cuisine_Grouped_Finger Food    7403 non-null   bool
 25  Cuisine_Grouped_French         7403 non-null   bool
 26  Cuisine_Grouped_Goan           7403 non-null   bool
 27  Cuisine_Grouped_Healthy Food   7403 non-null   bool
 28  Cuisine_Grouped_Ice Cream      7403 non-null   bool
 29  Cuisine_Grouped_Indian         7403 non-null   bool
 30  Cuisine_Grouped_International  7403 non-null   bool
 31  Cuisine_Grouped_Italian        7403 non-null   bool
 32  Cuisine_Grouped_Japanese       7403 non-null   bool
 33  Cuisine_Grouped_Kashmiri       7403 non-null   bool
 34  Cuisine_Grouped_Kebab          7403 non-null   bool
 35  Cuisine_Grouped_Kerala         7403 non-null   bool
 36  Cuisine_Grouped_Lebanese       7403 non-null   bool
 37  Cuisine_Grouped_Mediterranean  7403 non-null   bool
 38  Cuisine_Grouped_Mexican        7403 non-null   bool
 39  Cuisine_Grouped_Mithai         7403 non-null   bool
 40  Cuisine_Grouped_Modern Indian  7403 non-null   bool
 41  Cuisine_Grouped_Mughlai        7403 non-null   bool
 42  Cuisine_Grouped_North Indian   7403 non-null   bool
 43  Cuisine_Grouped_Other          7403 non-null   bool
 44  Cuisine_Grouped_Pizza          7403 non-null   bool
 45  Cuisine_Grouped_Raw Meats      7403 non-null   bool
 46  Cuisine_Grouped_Seafood        7403 non-null   bool
 47  Cuisine_Grouped_South Indian   7403 non-null   bool
 48  Cuisine_Grouped_Steak          7403 non-null   bool
 49  Cuisine_Grouped_Street Food    7403 non-null   bool
 50  Cuisine_Grouped_Sushi          7403 non-null   bool
 51  Cuisine_Grouped_Thai           7403 non-null   bool
 52  Cuisine_Grouped_Tibetan        7403 non-null   bool
dtypes: bool(45), float64(1), int64(6), int8(1)
memory usage: 737.5 KB

In [9]:
# Now lets split training data and test data
from sklearn.model_selection import train_test_split

X = df_model.drop("Aggregate rating", axis = 1)
Y = df_model["Aggregate rating"]
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2, random_state=42)

X_train.shape, X_test.shape

((5922, 52), (1481, 52))

In [11]:
# Lets save the Dataset
from pathlib import Path
Path("../data/processed").mkdir(parents=True, exist_ok=True)
df_model.to_csv("../data/processed/model_data.csv", index= False)
print("Saved ../data/processed/model_data.csv")

Saved ../data/processed/model_data.csv

In [12]:
# Saving the train/test splits
import joblib
Path("../models").mkdir(parents=True, exist_ok= True)

joblib.dump(X_train, "../models/X_train.joblib")
joblib.dump(X_test,  "../models/X_test.joblib")
joblib.dump(Y_train, "../models/Y_train.joblib")
joblib.dump(Y_test,  "../models/Y_test.joblib")
print("Saved X/Y train/test splits in models/")

Saved X/Y train/test splits in models/

In [14]:
# Lets also save the list of feature column names
features = X_train.columns.to_list()
joblib.dump(features, "../models/feature_list.joblib")
print("Saved features")

Saved features