In [55]:
# lets start with importing the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [56]:
plt.style.use("seaborn-v0_8")
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

In [57]:
df = pd.read_csv("../data/raw/Dataset.csv")
df.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",1100,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,1200,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",4000,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",1500,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",1500,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [58]:
df.shape
# We have 21 columns and 9551 data samples

(9551, 21)

In [59]:
# The columns
df.columns
df.dtypes

Restaurant ID             int64
Restaurant Name          object
Country Code              int64
City                     object
Address                  object
Locality                 object
Locality Verbose         object
Longitude               float64
Latitude                float64
Cuisines                 object
Average Cost for two      int64
Currency                 object
Has Table booking        object
Has Online delivery      object
Is delivering now        object
Switch to order menu     object
Price range               int64
Aggregate rating        float64
Rating color             object
Rating text              object
Votes                     int64
dtype: object

In [60]:
df.isnull().sum()
# Show no null values except the Cuisines, which we will put as "unknown" for now
df['Cuisines'] = df['Cuisines'].fillna("Unknown")

In [61]:
df.duplicated().sum()

np.int64(0)

In [62]:
# Now we have to categorical count, for the columns
Cat_columns =  ['City', 'Country Code', 'Currency', 'Has Table booking', 'Has Online delivery', 'Is delivering now', 'Switch to order menu']
for col in Cat_columns:
    print(f"\n----{col}-----")
    print(df[col].value_counts())

----City-----
City
New Delhi                 5473
Gurgaon                   1118
Noida                     1080
Faridabad                  251
Ghaziabad                   25
Bhubaneshwar                21
Lucknow                     21
Ahmedabad                   21
Amritsar                    21
Guwahati                    21
Rio de Janeiro              20
Bras�_lia                   20
Albany                      20
Doha                        20
Cape Town                   20
Manchester                  20
London                      20
Edinburgh                   20
Birmingham                  20
Wellington City             20
Auckland                    20
Vizag                       20
S��o Paulo                  20
Athens                      20
Augusta                     20
Dalton                      20
Davenport                   20
Cedar Rapids/Iowa City      20
Boise                       20
Savannah                    20
Singapore                   20
Sioux City                  20
Waterloo                    20
Valdosta                    20
Abu Dhabi                   20
Des Moines                  20
Columbus                    20
Gainesville                 20
Macon                       20
Dubuque                     20
Tampa Bay                   20
Pensacola                   20
Pocatello                   20
Rest of Hawaii              20
Orlando                     20
Sharjah                     20
Agra                        20
Patna                       20
Mysore                      20
Mumbai                      20
Mangalore                   20
Ludhiana                    20
Nashik                      20
Jaipur                      20
Kolkata                     20
Kanpur                      20
Kochi                       20
Indore                      20
Coimbatore                  20
Goa                         20
Nagpur                      20
Chennai                     20
Aurangabad                  20
Allahabad                   20
Dehradun                    20
Bangalore                   20
Bhopal                      20
Dubai                       20
Varanasi                    20
Surat                       20
Vadodara                    20
Pune                        20
Ranchi                      20
Puducherry                  20
Ankara                      20
Colombo                     20
Pretoria                    20
Hyderabad                   18
Chandigarh                  18
Jakarta                     16
��stanbul                   14
Sandton                     11
Johannesburg                 6
Mandaluyong City             4
Taguig City                  4
Pasig City                   3
Pasay City                   3
Inner City                   2
Santa Rosa                   2
Makati City                  2
Secunderabad                 2
San Juan City                2
Hepburn Springs              2
Bogor                        2
Tangerang                    2
Tagaytay City                1
Quezon City                  1
Victor Harbor                1
Tanunda                      1
Trentham East                1
Vernonia                     1
Winchester Bay               1
Yorkton                      1
Vineland Station             1
Weirton                      1
Lincoln                      1
Lorn                         1
Macedon                      1
Mayfield                     1
Balingup                     1
Armidale                     1
Beechworth                   1
Chatham-Kent                 1
Consort                      1
Cochrane                     1
Clatskanie                   1
Dicky Beach                  1
Palm Cove                    1
Ojo Caliente                 1
Montville                    1
Paynesville                  1
Phillip Island               1
Penola                       1
Potrero                      1
Princeton                    1
Middleton Beach              1
Miller                       1
Mc Millan                    1
Monroe                       1
Flaxton                      1
Fernley                      1
Forrest                      1
East Ballina                 1
Huskisson                    1
Inverloch                    1
Lakeview                     1
Lakes Entrance               1
Mohali                       1
Panchkula                    1
Bandung                      1
Randburg                     1
Name: count, dtype: int64

----Country Code-----
Country Code
1      8652
216     434
215      80
30       60
189      60
214      60
148      40
208      34
14       24
162      22
94       21
166      20
184      20
191      20
37        4
Name: count, dtype: int64

----Currency-----
Currency
Indian Rupees(Rs.)        8652
Dollar($)                  482
Pounds(��)                  80
Brazilian Real(R$)          60
Rand(R)                     60
Emirati Diram(AED)          60
NewZealand($)               40
Turkish Lira(TL)            34
Botswana Pula(P)            22
Indonesian Rupiah(IDR)      21
Qatari Rial(QR)             20
Sri Lankan Rupee(LKR)       20
Name: count, dtype: int64

----Has Table booking-----
Has Table booking
No     8393
Yes    1158
Name: count, dtype: int64

----Has Online delivery-----
Has Online delivery
No     7100
Yes    2451
Name: count, dtype: int64

----Is delivering now-----
Is delivering now
No     9517
Yes      34
Name: count, dtype: int64

----Switch to order menu-----
Switch to order menu
No    9551
Name: count, dtype: int64

In [63]:
# Based on all analysis, we will drop a few 0 or almost 0 relevant columns
droppers = ["Restaurant ID",
"Restaurant Name",
"Address",
"Locality",
"Locality Verbose",
"Currency",
"Switch to order menu",
"Is delivering now",
"Rating color",
"Rating text"]
df = df.drop(columns=droppers)
df.shape

(9551, 11)

In [64]:
df.head()

,Country Code,City,Longitude,Latitude,Cuisines,Average Cost for two,Has Table booking,Has Online delivery,Price range,Aggregate rating,Votes
0,162,Makati City,121.027535,14.565443,"French, Japanese, Desserts",1100,Yes,No,3,4.8,314
1,162,Makati City,121.014101,14.553708,Japanese,1200,Yes,No,3,4.5,591
2,162,Mandaluyong City,121.056831,14.581404,"Seafood, Asian, Filipino, Indian",4000,Yes,No,4,4.4,270
3,162,Mandaluyong City,121.056475,14.585318,"Japanese, Sushi",1500,No,No,4,4.9,365
4,162,Mandaluyong City,121.057508,14.584450,"Japanese, Korean",1500,Yes,No,4,4.8,229

In [65]:
# In column "Has Table booking" and "Has Online delivery", the values are No or Yes, we will convert them as Yes: 1 and No: 0
for c in ["Has Table booking", "Has Online delivery"]:
    df[c] = df[c].map({"Yes": 1, "No": 0})

In [66]:
df.head()

,Country Code,City,Longitude,Latitude,Cuisines,Average Cost for two,Has Table booking,Has Online delivery,Price range,Aggregate rating,Votes
0,162,Makati City,121.027535,14.565443,"French, Japanese, Desserts",1100,1,0,3,4.8,314
1,162,Makati City,121.014101,14.553708,Japanese,1200,1,0,3,4.5,591
2,162,Mandaluyong City,121.056831,14.581404,"Seafood, Asian, Filipino, Indian",4000,1,0,4,4.4,270
3,162,Mandaluyong City,121.056475,14.585318,"Japanese, Sushi",1500,0,0,4,4.9,365
4,162,Mandaluyong City,121.057508,14.584450,"Japanese, Korean",1500,1,0,4,4.8,229

In [67]:
df['Cuisines'].head(25)
# This shows us that alot of restarunts with more than 1 Cuisines and most them repetative, we will create a new column called as primary Cuisine, where we will keep the first cuisine only for each restarunt
df["Primary Cuisine"] = df["Cuisines"].str.split(",").str[0].str.strip()

In [68]:
# Now lets see where we stand
df.head()

,Country Code,City,Longitude,Latitude,Cuisines,Average Cost for two,Has Table booking,Has Online delivery,Price range,Aggregate rating,Votes,Primary Cuisine
0,162,Makati City,121.027535,14.565443,"French, Japanese, Desserts",1100,1,0,3,4.8,314,French
1,162,Makati City,121.014101,14.553708,Japanese,1200,1,0,3,4.5,591,Japanese
2,162,Mandaluyong City,121.056831,14.581404,"Seafood, Asian, Filipino, Indian",4000,1,0,4,4.4,270,Seafood
3,162,Mandaluyong City,121.056475,14.585318,"Japanese, Sushi",1500,0,0,4,4.9,365,Japanese
4,162,Mandaluyong City,121.057508,14.584450,"Japanese, Korean",1500,1,0,4,4.8,229,Japanese

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Country Code          9551 non-null   int64
 1   City                  9551 non-null   object
 2   Longitude             9551 non-null   float64
 3   Latitude              9551 non-null   float64
 4   Cuisines              9551 non-null   object
 5   Average Cost for two  9551 non-null   int64
 6   Has Table booking     9551 non-null   int64
 7   Has Online delivery   9551 non-null   int64
 8   Price range           9551 non-null   int64
 9   Aggregate rating      9551 non-null   float64
 10  Votes                 9551 non-null   int64
 11  Primary Cuisine       9551 non-null   object
dtypes: float64(3), int64(6), object(3)
memory usage: 895.5+ KB

In [70]:
df["Primary Cuisine"].value_counts()

Primary Cuisine
North Indian         2992
Chinese               855
Fast Food             672
Bakery                621
Cafe                  617
American              278
South Indian          262
Mithai                246
Street Food           236
Continental           235
Italian               234
Pizza                 232
Mughlai               215
Ice Cream             178
Desserts              150
Burger                116
Biryani               112
Raw Meats             110
Beverages              79
Finger Food            78
Asian                  77
Japanese               72
Mexican                62
European               62
Healthy Food           56
Indian                 51
Seafood                49
Thai                   29
Mediterranean          28
Lebanese               25
Breakfast              24
Tibetan                22
Brazilian              22
Bengali                18
BBQ                    18
Tea                    17
French                 14
Modern Indian          14
Kerala                 14
Sushi                  13
International          13
Kashmiri               13
Steak                  13
British                12
Juices                 12
Goan                   10
Kebab                  10
Hyderabadi             10
Coffee and Tea          9
Unknown                 9
Bar Food                9
Korean                  9
Pakistani               8
Turkish                 7
Latin American          7
Afghani                 7
Gujarati                7
Parsi                   6
Malaysian               6
Greek                   6
Filipino                6
Lucknowi                6
Maharashtrian           6
Rajasthani              6
Naga                    6
Sandwich                5
Arabian                 5
Southern                5
Portuguese              5
Awadhi                  5
North Eastern           5
Hawaiian                5
Contemporary            4
Restaurant Cafe         4
Bihari                  4
Nepalese                4
German                  4
Spanish                 4
Caribbean               4
Burmese                 4
Andhra                  3
Assamese                3
Vietnamese              3
Modern Australian       3
Sunda                   3
World Cuisine           3
Middle Eastern          3
Singaporean             2
Asian Fusion            2
Grill                   2
Taiwanese               2
Oriya                   2
African                 2
Drinks Only             2
New American            2
Tapas                   2
Western                 2
Salad                   2
South American          2
Cajun                   1
Gourmet Fast Food       1
Peruvian                1
Pub Food                1
Irish                   1
Cuban                   1
Australian              1
Persian                 1
Peranakan               1
Tex-Mex                 1
Charcoal Grill          1
Malwani                 1
Cuisine Varies          1
Ramen                   1
Scottish                1
Kiwi                    1
Indonesian              1
Sri Lankan              1
Argentine               1
Patisserie              1
Turkish Pizza           1
Name: count, dtype: int64

In [71]:
city_freq = df['City'].value_counts() # Hold the frequence of each city
df['City_Freq'] = df['City'].map(city_freq)
df.head()

,Country Code,City,Longitude,Latitude,Cuisines,Average Cost for two,Has Table booking,Has Online delivery,Price range,Aggregate rating,Votes,Primary Cuisine,City_Freq
0,162,Makati City,121.027535,14.565443,"French, Japanese, Desserts",1100,1,0,3,4.8,314,French,2
1,162,Makati City,121.014101,14.553708,Japanese,1200,1,0,3,4.5,591,Japanese,2
2,162,Mandaluyong City,121.056831,14.581404,"Seafood, Asian, Filipino, Indian",4000,1,0,4,4.4,270,Seafood,4
3,162,Mandaluyong City,121.056475,14.585318,"Japanese, Sushi",1500,0,0,4,4.9,365,Japanese,4
4,162,Mandaluyong City,121.057508,14.584450,"Japanese, Korean",1500,1,0,4,4.8,229,Japanese,4

In [72]:
# now have to do some chnages with the country code, so that ML doesn't think it of some other value, so have to put it in category
df['Country Code'] = df['Country Code'].astype('category').cat.codes #.cat.codes to generate integer values

In [73]:
# Here a lot of cities are less than 10, so we will replace all them and give them one name as other..
count = df["Primary Cuisine"].value_counts()
top = count[count >= 10].index
df['Cuisine_Cleaned'] = df['Primary Cuisine'].apply(
    lambda x: x if x in top else "Other"
)

In [75]:
# Check 
df['Cuisine_Cleaned'].value_counts()

Cuisine_Cleaned
North Indian     2992
Chinese           855
Fast Food         672
Bakery            621
Cafe              617
American          278
South Indian      262
Other             253
Mithai            246
Street Food       236
Continental       235
Italian           234
Pizza             232
Mughlai           215
Ice Cream         178
Desserts          150
Burger            116
Biryani           112
Raw Meats         110
Beverages          79
Finger Food        78
Asian              77
Japanese           72
European           62
Mexican            62
Healthy Food       56
Indian             51
Seafood            49
Thai               29
Mediterranean      28
Lebanese           25
Breakfast          24
Brazilian          22
Tibetan            22
Bengali            18
BBQ                18
Tea                17
Kerala             14
French             14
Modern Indian      14
International      13
Steak              13
Kashmiri           13
Sushi              13
Juices             12
British            12
Goan               10
Hyderabadi         10
Kebab              10
Name: count, dtype: int64

In [76]:
df_clean.to_csv("../data/cleaned/cleaned_dataset.csv", index=False)

In [ ]:
# Here we have accomplished:
"""
Loaded the dataset, Inspected the structure, null and dtypes, 
removed less relvant columns, Cleaned Yes/No -> 1/0, Extracted Primary Cuisines,
Inspected City and Cuisine distribution, prepared cleaned dataset.
"""